In [1]:
import pandas as pd

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
0,0,Cabedelo,BR,2020-07-10 00:09:33,-6.98,-34.83,75.20,94,20,4.70,few clouds,0.0,0
1,1,Bonavista,CA,2020-07-10 00:09:33,48.65,-53.11,53.01,86,100,7.00,overcast clouds,0.0,0
2,2,Lons-Le-Saunier,FR,2020-07-10 00:09:33,46.75,5.75,66.99,82,21,3.24,few clouds,0.0,0
3,3,Victoria,HK,2020-07-10 00:05:24,22.29,114.16,88.00,74,100,11.99,overcast clouds,0.0,0
4,4,Mar Del Plata,AR,2020-07-10 00:06:17,-38.00,-57.56,46.99,70,100,10.29,overcast clouds,0.0,0

In [2]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 80

In [3]:
# Ask the customer if they want it to be raining or snowing.
wantRain = input("Do you want it to be raining? (yes/no) ")
wantSnow = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [4]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
# Filter for rain and snow preferences
if wantRain == "yes":
    preferred_cities_df = city_data_df.loc[city_data_df["Rain (inches)"] > 0]
    
if wantSnow == "yes":
    preferred_cities_df = city_data_df.loc[city_data_df["Snow (inches)"] > 0]

In [5]:
# Filter for rain preferences
if wantRain == "yes":
    preferred_cities_df = city_data_df.loc[city_data_df["Rain (inches)"] > 0]

In [6]:
# Filter for snow preferences
if wantSnow == "yes":
    preferred_cities_df = city_data_df.loc[city_data_df["Snow (inches)"] > 0]

In [7]:
preferred_cities_df.count()

City_ID                417
City                   417
Country                414
Date                   417
Lat                    417
Lng                    417
Max Temp               417
Humidity               417
Cloudiness             417
Wind Speed             417
Current Description    417
Rain (inches)          417
Snow (inches)          417
dtype: int64

In [8]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng", "Current Description"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Cabedelo,BR,75.20,-6.98,-34.83,few clouds,
1,Bonavista,CA,53.01,48.65,-53.11,overcast clouds,
2,Lons-Le-Saunier,FR,66.99,46.75,5.75,few clouds,
4,Mar Del Plata,AR,46.99,-38.00,-57.56,overcast clouds,
5,Nikolskoye,RU,51.80,59.70,30.79,few clouds,
6,Rikitea,PF,67.80,-23.12,-134.97,light rain,
7,Pevek,RU,43.00,69.70,170.31,light rain,
9,Mataura,NZ,46.38,-46.19,168.86,overcast clouds,
10,Severo-Kurilsk,RU,49.55,50.68,156.12,light rain,
11,Faanui,PF,76.59,-16.48,-151.75,scattered clouds,

In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [10]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a marker map for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Cabedelo,BR,75.20,-6.98,-34.83,few clouds,Lua Mansa Pousada
1,Bonavista,CA,53.01,48.65,-53.11,overcast clouds,Abbott's Bed & Breakfast
2,Lons-Le-Saunier,FR,66.99,46.75,5.75,few clouds,"Gîte ""La cabane du berger"""
4,Mar Del Plata,AR,46.99,-38.00,-57.56,overcast clouds,Gran Hotel Mar del Plata habitaciones
5,Nikolskoye,RU,51.80,59.70,30.79,few clouds,Tourist House - Sablino
...,...,...,...,...,...,...,...
556,Coffs Harbour,AU,60.80,-30.30,153.13,overcast clouds,Aquajet Motel
557,Darhan,MN,59.34,49.49,105.92,overcast clouds,Buudai Hotel
558,Saint-Francois,FR,69.01,46.42,3.91,clear sky,Manoir Du Bonheur
559,Dutlwe,BW,52.84,-23.98,23.90,clear sky,
560,Roebourne,AU,67.03,-20.78,117.13,few clouds,Harding River Caravan Park

In [15]:
# Create the output file (CSV).
output_data_file = "challenge_exports/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")