In [1]:
import pandas as pd
import numpy as np

hotel_df = pd.read_csv("challenge_exports/WeatherPy_vacation.csv")
hotel_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,0,Cabedelo,BR,75.20,-6.98,-34.83,few clouds,Lua Mansa Pousada
1,1,Bonavista,CA,53.01,48.65,-53.11,overcast clouds,Abbott's Bed & Breakfast
2,2,Lons-Le-Saunier,FR,66.99,46.75,5.75,few clouds,"Gîte ""La cabane du berger"""
3,4,Mar Del Plata,AR,46.99,-38.00,-57.56,overcast clouds,Gran Hotel Mar del Plata habitaciones
4,5,Nikolskoye,RU,51.80,59.70,30.79,few clouds,Tourist House - Sablino
...,...,...,...,...,...,...,...,...
412,556,Coffs Harbour,AU,60.80,-30.30,153.13,overcast clouds,Aquajet Motel
413,557,Darhan,MN,59.34,49.49,105.92,overcast clouds,Buudai Hotel
414,558,Saint-Francois,FR,69.01,46.42,3.91,clear sky,Manoir Du Bonheur
415,559,Dutlwe,BW,52.84,-23.98,23.90,clear sky,NaN
416,560,Roebourne,AU,67.03,-20.78,117.13,few clouds,Harding River Caravan Park

In [2]:
#Create individual dataframes for each of the for cities on the trip
byronBay_df = hotel_df.loc[hotel_df["City"] == "Byron Bay"]
byronBay_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
12,15,Byron Bay,AU,60.8,-28.65,153.62,overcast clouds,Backpackers Inn on the Beach

In [3]:
yulara_df = hotel_df.loc[hotel_df["City"] =="Yulara"]
yulara_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
14,18,Yulara,AU,44.6,-25.24,130.99,clear sky,Desert Gardens Hotel - Ayers Rock Resort

In [4]:
broken_hill_df = hotel_df.loc[hotel_df["City"] == "Broken Hill"]
broken_hill_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
33,49,Broken Hill,AU,57.2,-31.95,141.43,overcast clouds,Daydream Motel & Cottages

In [5]:
geraldton_df = hotel_df.loc[hotel_df["City"] == "Geraldton"]
geraldton_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
136,190,Geraldton,AU,51.8,-28.77,114.6,scattered clouds,Broadwater Mariner Resort

In [6]:
# create a tuple of latitude and longitude for each of the 4 cities
byronBayList = byronBay_df.values.tolist()
byronBayLatLon = [byronBayList[0][4], byronBayList[0][5]]
byronBayGPS = tuple(byronBayLatLon)
byronBayGPS

(-28.65, 153.62)

In [7]:
yularaList = yulara_df.values.tolist()
yularaLatLon = [yularaList[0][4], yularaList[0][5]]
yularaGPS = tuple(yularaLatLon)
yularaGPS

(-25.24, 130.99)

In [8]:
brokenHillList = broken_hill_df.values.tolist()
brokenHillLatLon = [brokenHillList[0][4], brokenHillList[0][5]]
brokenHillGPS = tuple(brokenHillLatLon)
brokenHillGPS

(-31.95, 141.43)

In [9]:
geraldtonList = geraldton_df.values.tolist()
geraldtonLatLon = [geraldtonList[0][4], geraldtonList[0][5]]
geraldtonGPS = tuple(geraldtonLatLon)
geraldtonGPS

(-28.77, 114.6)

In [18]:
#Combine the four cities dataframes
fourCities_df = pd.concat([byronBay_df, yulara_df, broken_hill_df, geraldton_df])
fourCities_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
12,15,Byron Bay,AU,60.8,-28.65,153.62,overcast clouds,Backpackers Inn on the Beach
14,18,Yulara,AU,44.6,-25.24,130.99,clear sky,Desert Gardens Hotel - Ayers Rock Resort
33,49,Broken Hill,AU,57.2,-31.95,141.43,overcast clouds,Daydream Motel & Cottages
136,190,Geraldton,AU,51.8,-28.77,114.60,scattered clouds,Broadwater Mariner Resort

In [27]:
import gmaps
import gmaps.datasets
from config import g_key
gmaps.configure(api_key=g_key)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

route_info = [info_box_template.format(**row) for index, row in fourCities_df.iterrows()]
locations = fourCities_df[['Lat','Lng']]

fig = gmaps.figure()
route = gmaps.directions_layer(byronBayGPS, geraldtonGPS, waypoints=[brokenHillGPS, yularaGPS], travel_mode= 'DRIVING', show_markers= False)
fig.add_layer(route)
marker_layer = gmaps.marker_layer(locations, info_box_content=route_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))